/* ============ Глобальные параметры - начало ============ */
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Myriad Pro Light"),
       url("../fonts/museosanscyrl_1.otf") format("otf")
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("Myriad Pro Regular"),
       url("../fonts/museosanscyrl_2.otf") format("otf")
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Myriad Pro Bold"),
       url("../fonts/museosanscyrl_3.otf") format("otf")
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Myriad Pro", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: #282828;

  padding: 0;
  margin: 0;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 180px;
  padding-left: 180px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =========== Глобальные параметры - конец ============ */

/* =========== Header - начало ============ */
.page-header {
  position: relative;
  z-index: 1;

  padding-top: 32px;
  min-height: 240px;
  margin-bottom: -240px;
}
.page-header__info {
  margin-bottom: 15px;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info__logo {
  display: block;
  width: 280px;
  height: 126px;
  margin-right: 40px;
}

.contact-info__description {
  width: 150px;
  margin: 0 140px 0 0;

  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.contact-info__map {
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 25px;

  border-radius: 50%;
}

.contact-info__location {
  position: relative;

  min-width: 210px;
  margin-right: 65px;

  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

.contact-info__map-google {
  position: absolute;
  top: 70px;
  left: -35px;
  z-index: 2;

  display: none;
}

.contact-info__title {
  font-weight: 500;
}

.contact-info__address {
  font-weight: 300;
  font-style: normal;
}

.contact-info__map-link {
  border-bottom: 1px dashed #ff6078;

  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #ff6078;
}

.contact-info__map-link:hover + .contact-info__map-google {
  display: block;
}

.contact-info__details {
  min-width: 260px;
}

.contact-info__call {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-left: 45px;
  margin-bottom: 10px;
}

.contact-info__call::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: block;
  width: 35px;
  height: 35px;

  border-radius: 50%;
  background: #ffffff url("../img/icon-phone.png") no-repeat center;
}

.contact-info__call-text {
  position: relative;

  padding-left: 15px;

  font-size: 12px;
  font-weight: 500;
  font-style: normal;
}

.contact-info__call-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: block;
  width: 6px;
  height: 6px;

  border-radius: 3px;
  box-shadow: 0 0 4px rgba(79, 160, 55, 0.61);
  background-color: #27b24b;
}

.contact-info__phone {
  font-size: 24px;
  text-decoration: none;
  color: #282828;
}

.contact-info__schedule {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 35px;
  padding-left: 45px;

  font-size: 16px;
}

.contact-info__schedule::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: block;
  width: 35px;
  height: 35px;

  border-radius: 50%;
  background: #ffffff url("../img/icon-time.png") no-repeat center;
}

.contact-info__schedule b {
  margin-left: 5px;

  font-weight: 500;
}

.contact-info__sign-up {
  position: relative;

  display: block;
  min-width: 230px;
  min-height: 60px;
  margin-left: auto;
  padding: 22px 25px 20px 55px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #1f1d1d;

  border-radius: 30px;
  background-color: #fefcfb;
  box-shadow: 0 3px 0 #ebeaea;
}

.contact-info__sign-up:active {
  box-shadow: inset 0 3px 0 #ebeaea;
}

.contact-info__sign-up::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);

  display: block;
  width: 35px;
  height: 35px;

  border-radius: 50%;
  background: #ffffff url("../img/icon-calendar.png") no-repeat center;
}

.main-nav__list {
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  margin: 0;
  padding: 0;

  list-style: none;

  border-radius: 5px;
  background-color: #ffffff;
}

.main-nav__list::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 1523px;
  height: 14px;

  opacity: 0.5;
  border-radius: 5px;
  background-color: #ffffff;
}

.main-nav__link {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #282828;

  cursor: default;
}

.main-nav__link[href] {
  font-weight: 300;

  cursor: pointer;
}

.main-nav__link[href]:active {
  opacity: 0.5;
}
/* =========== Header - конец ============ */
.page-main__services-list {
  padding-top: 240px;
}

.services-list {
  position: relative;

  min-height: 1125px;

  background: url("../img/bg-main.png") no-repeat top center;
  background-size: 100% auto;
}

.services-list__img-heart-left {
  position: absolute;
  top: 272px;
  left: 116px;

  display: block;
  width: 367px;
  height: 340px;
}

.services-list__img-heart-right {
  position: absolute;
  right: 0;
  top: 83px;

  display: block;
  width: 147px;
  height: 266px;
}

.services-list__description {
  position: relative;
  z-index: 1;

  width: 785px;
  padding: 110px 10px 10px 100px;
}

.services-list__title {
  font-size: 48px;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 60px;
}

.services-list__title span{
  font-weight: 500;
}

.services-list__img-card {
  position: absolute;
  bottom: 285px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 176px;
  height: 236px;
}

.services-list__img-info {
  position: absolute;
  bottom: 265px;
  left: 53%;
  z-index: 2;

  display: block;
  width: 74px;
  height: 74px;

  animation: radial-pulse 2s infinite;
}

.services-list__img-info:hover {
  cursor: pointer;
}

.services-list__img-info:hover + .services-list__info {
  visibility: visible;
  opacity: 1;
}

@keyframes radial-pulse {
  0% {
    width: 74px;
    height: 74px;
  }

  50% {
    width: 80px;
    height: 80px;
  }

  100% {
    width: 74px;
    height: 74px;
  }
}

.services-list__info {
  position: relative;
  left: 56%;
  bottom: 320px;
  z-index: 1;

  width: 175px;

  visibility: hidden;
  opacity: 0;

  transition: opacity 1s;
}

.services-list__info::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  z-index: 2;

  display: block;
  width: 175px;
  height: 32px;

  border-radius: 50%;
  background-color: #ffffff;
}

.services-list__info-bg {
  position: absolute;
  top: -30px;
  left: -62px;

  display: block;
  max-width: 256px;
  width: 256px;
  height: auto;
}

.services-list__info-text-wrapper {
  position: relative;

  width: 175px;
  height: 195px;

  border: 20px solid #ffffff;
  border-radius: 6px;
  background-color: #ffffff;

  overflow: hidden;
}

.services-list__info-text {
  margin: 0;

  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.services-list__list {
  width: 590px;
  margin: 0 0 55px 0;
  padding: 0;

  list-style: none;

  font-size: 18px;
  line-height: 36px;
}

.services-list__item {
  position: relative;
  padding-left: 40px;
}
.services-list__item + .services-list__item {
  margin-top: 22px;
}

.services-list__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: block;
  width: 16px;
  height: 16px;

  border-radius: 50%;
  background-color: #ffffff;
}

.services-list__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);

  display: block;
  width: 8px;
  height: 8px;

  border-radius: 50%;
  background-color: #ef9499;
}

.services-list__wrapper-button {
  position: relative;

  width: 490px;
}

.services-list__link {
  display: block;
  width: 380px;
  min-height: 85px;
  padding: 20px 155px 20px 45px;

  font-size: 14px;
  letter-spacing: 2px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  border: none;
  border-radius: 40px;
  background-image: linear-gradient(to bottom, #f9b5b6, #f1969a);
  box-shadow: 0 5px 0 #d7747a;
}

.services-list__link:active {
  box-shadow: inset 0 5px 0 #d7747a;
}

.services-list__img-branch {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  pointer-events: none;
}

.services-list__img-girl {
  position: absolute;
  right: 0;
  bottom: 100px;

  display: block;
  width: 868px;
  height: 760px;
}

.services-list__img-wave {
  position: absolute;
  left: 50%;
  bottom: 23px;
  transform: translateX(-50%);

  display: block;
  width: 1920px;
  height: 202px;
}

.services-list__link-next {
  position: absolute;
  bottom: 135px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  display: block;
  width: 30px;
  height: 30px;

  border: 3px solid #ef8a91;
  border-radius: 50%;
}

.services-list__link-next::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: rotate(40deg);
  z-index: 1;

  display: block;
  width: 10px;
  height: 2px;

  background-color: #989797;
  pointer-events: none;
}

.services-list__link-next::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 4px;
  transform: rotate(-40deg);
  z-index: 1;

  display: block;
  width: 10px;
  height: 2px;

  background-color: #989797;
  pointer-events: none;
}

.services-list__link-next:active::before,
.services-list__link-next:active::after {
  opacity: 0.5;
}

.services-list__circle {
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  display: block;
  width: 11px;
  height: 11px;

  border: 3px solid #ef8a91;
  border-radius: 50%;
}

.services-list__circle::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  display: block;
  width: 3px;
  height: 18px;

  background-color: #ef8a91;
}

/* ====== Модальное окно "Форма заказа" - начало ====== */
.form-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;

  width: 738px;
  min-height: 668px;
  padding: 75px 105px 80px;

  text-align: center;
  color: #282828;

  background-image: linear-gradient(to top right, #fcfdfd, #fdf3ee);
  border: 1px solid #fbeeef;
  border-radius: 45px;
}

.form-modal--hide {
  display: none;
}

.form-modal__close-button {
  position: absolute;
  top: 45px;
  right: 45px;

  display: block;
  width: 12px;
  height: 12px;
  padding: 0;

  border: none;
  background: none;
}

.form-modal__close-button:hover {
  cursor: pointer;
}

.form-modal__close-button:active {
  opacity: 0.5;
}

.form-modal__close-button::before,
.form-modal__close-button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;

  display: block;
  width: 16px;
  height: 2px;

  background-color: hsl(0, 0%, 50%);
}

.form-modal__close-button::before {
  transform: rotate(45deg);
}

.form-modal__close-button::after {
  transform: rotate(-45deg);
}

.form-modal__title {
  position: relative;
  z-index: 1;

  margin: 0 0 30px;

  font-size: 36px;
  font-weight: 300;
}

.form-modal__title b {
  font-weight: 500;

}

.form-modal__text {
  position: relative;
  z-index: 1;

  font-size: 16px;
  font-weight: 300;
}

.form-modal__wrapper {
  position: relative;
  z-index: 1;
}

.form-modal__wrapper + .form-modal__wrapper {
  margin-top: 16px;
}

.form-modal__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-modal__wrapper--select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 65px;
  transform: rotate(40deg);
  z-index: 1;

  display: block;
  width: 10px;
  height: 2px;

  background-color: #989797;

  pointer-events: none;
}

.form-modal__wrapper--select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 58px;
  transform: rotate(-40deg);
  z-index: 1;

  display: block;
  width: 10px;
  height: 2px;

  background-color: #989797;

  pointer-events: none;
}

.form-modal__select:hover {
  cursor: pointer;
}

.form-modal__select,
.form-modal__input {
  width: 500px;
  height: 80px;
  padding: 30px 45px;

  font-size: 18px;
  font-weight: 300;
  color: #989797;

  background-color: #ffffff;
  border: none;
  border-radius: 40px;
}

.form-modal__input::-webkit-input-placeholder,
.form-modal__input::-moz-placeholder,
.form-modal__input:-moz-placeholder,
.form-modal__input:-ms-input-placeholder {
  color: #989797;
}

.form-modal__wrapper-button {
  position: relative;

  margin-top: 16px;
}

.form-modal__button {
  width: 500px;
  min-height: 80px;
  padding: 30px 45px;

  font-size: 18px;
  letter-spacing: 2px;
  color: #ffffff;

  border: none;
  border-radius: 40px;
  background-image: linear-gradient(to bottom, #f8b3b4, #f1969b);
  box-shadow: 0 7px 14px rgba(241, 131, 131, 0.57);
}

.form-modal__button:hover {
  cursor: pointer;
}

.form-modal__button:active {
  box-shadow: 0 0 14px rgba(241, 131, 131, 0.57);
}

.form-modal__button span{
  position: relative;
  z-index: 2;
}

.form-modal__img-plant {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  display: block;
  width: 144px;
  height: 55px;

  pointer-events: none;
}

.form-modal__img-lern {
  position: absolute;
  top: 50%;
  left: -110px;
  transform: translateY(-50%);
}

.form-modal__img-lern {
  position: absolute;
}
/* ======= Модальное окно "Форма заказа" - конец ======= */

/* ====== Модальное окно "Заказ принят" - начало ====== */
.sent-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;

  width: 523px;
  min-height: 335px;
  padding: 20px;

  text-align: center;
  color: #282828;

  background-image: linear-gradient(to top right, #fcfaf9, #fbf5f2);
  border: 1px solid #fbeeef;
  border-radius: 45px;

  overflow: hidden;
}

.sent-modal--hide {
  display: none;
}

.sent-modal__close-button {
  position: absolute;
  top: 45px;
  right: 45px;

  display: block;
  width: 12px;
  height: 12px;
  padding: 0;

  border: none;
  background: none;
}

.sent-modal__close-button:hover {
  cursor: pointer;
}

.sent-modal__close-button:active {
  opacity: 0.5;
}

.sent-modal__close-button::before,
.sent-modal__close-button::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;

  display: block;
  width: 16px;
  height: 2px;

  background-color: hsl(0, 0%, 50%);
}

.sent-modal__close-button::before {
  transform: rotate(45deg);
}

.sent-modal__close-button::after {
  transform: rotate(-45deg);
}

.sent-modal__title {
  position: relative;
  z-index: 1;

  margin-top: 0;
  margin-bottom: 15px;

  font-size: 30px;
  font-weight: 700;
}

.sent-modal__text {
  position: relative;
  z-index: 1;

  margin: 0;

  font-size: 30px;
  font-weight: 300;
}

.sent-modal__round-ok {
  position: relative;

  width: 90px;
  height: 90px;
  margin: 57px auto 30px;

  border: 4px solid #ee868d;
  border-radius: 50%;
}

.sent-modal__round-ok::before,
.sent-modal__round-ok::after {
  content: "";
  position: absolute;

  display: block;
  height: 5px;

  border-radius: 4px;
  background-color: #ee868d;
}

.sent-modal__round-ok::before {
  width: 14px;

  top: 42px;
  left: 28px;
  transform: rotate(45deg);
}

.sent-modal__round-ok::after {
  width: 25px;

  top: 38px;
  left: 33px;
  transform: rotate(-45deg);
}

.sent-modal__leafs {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* ====== Модальное окно "Заказ принят" - конец ====== */
